{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="container certification" style="font-family: 'Merriweather', serif;">
    <div class="python_certification" style="text-align:center;">
      <h1>Python Complate</h1>
      <img src="{% static 'img/UC-V1AI6OZN.jpg' %}" style="width:80%;" alt="">
      <hr>
    </div>
    <div class="django_certification" style="text-align:center;">
      <h1>Django Full Stack Web Developer</h1>
      <img src="{% static 'img/UC-5YSVGNXX.jpg' %}" style="width:80%; margin-bottom:20px;" alt="">
      <hr>
    </div>
  </div>
{% endblock %}
